<?xml version="1.0"?>
<robot name="optoforce_omd_20_fe_200n" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<link name="sensor_link">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="package://optoforce_wrapper/meshes/omd_20_fe_200n.dae"/>
			</geometry>
		</visual>
	</link>

</robot>